.App{
    height: 100%;
    background-color: #EAEAEA;
    padding: 0;
    margin: 0;
}

.App footer {
    height: 7.8vh;
    background-color: lightgrey;
}

.Git {
    text-decoration: none;
    color: black;
    font-size: 150%;
    float: inherit;
}
