.Intro {
    height: 100%;
    background-color: lightblue
}

.Intro h1, h2, h3, h4, h5, h6 {
    display: block;
    text-align: center;
}

.Intro hr {
    border: 1px solid yellow
}

.Intro p {
    margin: 2%;
    text-align: justify;
    text-decoration: none;
}

.Intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}