/* body {
    background-color: lightgrey;
} */

.Nav {
    height: 8vh;
    list-style: none;
    margin: 0;
    width: 100%;
    background-color: lightgrey;
    padding: 0;
    top: 0;
}

.Nav li:last-child {
    display: block;
    color: black;
    float: left;
    border-left: none;
    font-size: 250%;
    text-decoration: none;
}

.Nav li{
    float: right;
    border-left: 1px solid blue;
    color: yellow;
}

.Nav li a {
    display: block;
    padding: 15px 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.Nav li a:hover:not(.active) {
    color: darkgrey;
}

.active {
    color:black;
}