.Nav {
    height: 0%;
    list-style: none;
    margin: 0;
    width: 100%;
    background-color: grey;
    padding: 0;
}

.Nav li{

}

.DECAF {
    float: left;
    color: white;
}

.Nav li a{
    float: right;
    color: black;
    border-left: 1px solid  black;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}

.Nav li a:hover:not(.active) {
    background-color: darkgrey;
}

.active {
    background-color:pink;
}