.Pub {
    height: 100vh;
    background-color: green;
}

.Pub h1 {
    display: block;
    text-align: center;
}

.Pub p {
    margin: 2%;
    font-size: 100%;
    text-align: justify;
    text-decoration: none;
}